@media all and (max-width: 768px) {
	
	.portfolio-item {
		display: block;
		width: 100%;
	}
	.portfolio-item img {
		width: 100%;
		margin: 0;
	}
	.header-image h1 {
		font-size: 30px;
	}
	.service-icon-item,
	.team-work {
		max-width: 390px;
		margin: 0 auto;
	}
	.location,
	.social-share,
	.about-activebox {
		max-width: 390px;
		margin: 40px auto;
	}
	.portfolio-item {
		display: flex;
	}
}
@media all and (max-width: 360px) {
	.header-image h1 {
		font-size: 18px;
	}
	.header-image p {
		font-size: 15px;
		text-align: justify;
	}
	.work-area
	{
    	width: 250px;
	}
	.client-content p {
    	width: 70%;
    	font-size: 22px;
	}
	.client-content footer {
    	font-size: 12px;
	}
	.download-content p {
    	font-size: 15px;
	}
	.location,
	.social-share,
	.about-activebox {
		margin-bottom: 40px;
	}
	.footer p {
		width: 50%;
	}
}