/*------------------------------------------------------------------------------

	Template Name: ActivBox
	Template URI: http://www.softtech-it.com
	Description: Active Box portfolio related website.
	Author Name: Dhiman Barua
	Author URI: http://www.mtmsujan.com 
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Version: 1.0

------------------------------------------------------------------------------
	1. Typography
	2. Header Section
	3. Services Section
	4. Portfolio Section
	5. Worker Section
	6. Download Section
	7. Footer-Top Section
	8. ‍Footer Section
-------------------------------------------------------------------------------*/

/*=========== 1. Typoghrapi Area =========*/

body,
p {
	font-family: 'Raleway', sans-serif;
	color: #6c7279;
}

h1 {
    color: #FFFFFF;
    font-size: 53px;
    font-family: "Open Sans Condensed",sans-serif;
	font-weight: 700;
    width: 48%;
    margin: 0px auto;
    padding-top: 94px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
h3 {
	text-transform: Capitalize;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 500;
}
h4 {
	color: #e84545;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: 400;
}
h5 {
	font-size: 14px;
    color: #FFFFFF;
    padding-bottom: 3px;
	text-transform: uppercase;
	font-weight: 700;
}
/*============ 2. Header Section =========*/
.header-section {
	overflow: hidden;
}

.logo-menu {
	margin-top: 30px;
}
.main-menu ul {
	margin-top: -21px;
}
.main-menu ul li {
	margin: 0 17px;
}
.main-menu ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 13px;
	margin-right: -20px;
	display: block;
}
.header-image hr {
	border-top: 1px solid #7f8c8d;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	width: 85%;
	margin-top: 40px;
}
.header-image {
	background-image: url('images/ActiveBox-overlay.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 100px 0;
}

.header-image p {
    color: #FFFFFF;
    font-size: 17px;
    width: 53%;
    margin: 0 auto;
    padding-top: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.header-image a {
    color: #FFFFFF;
    background: #E84545;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
    margin-top: 64px;
    display: inline-block;
	border: 2px solid transparent;
}
.header-image a:hover {
	color: #E84545;
	background: #FFFFFF;
	border: 2px solid #E84545;
	transition: .4s;
}
/*======= 3. Services Section ========*/

.services-section {
	overflow: hidden;
	padding: 70px 0;
}
.service-icon img {
	margin: auto;
}
.services-item h2 a {
	color: #6C7279;
	text-decoration: none;
}
.services-item p {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	font-weight: 400;
}
.feature {
	margin-bottom: 50px;
}
/*======= 4. Portfolio Section ========*/

.space {
    margin-top: 60px;
}
/*.portfolio-item img {
	width: 100%;
	height: auto;
}*/
.no-gutter [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}
.full-width {
	min-height: 350px;
	overflow: hidden;
	position: relative;
}
.overlay-all {
	overflow: hidden;
	position: absolute;
}
.overlay {
	position: absolute;
	background: rgba(231, 82, 80,.9);
	width: 100%;
	height: 100%;
	top: -100%;
	transition: .5s;
}
.overlay-all:hover .overlay {
	top: 0%;
}
.overlay-all:hover .overlay-content {
	bottom: 30%;
	transition: .5s;
}

.overlay-content {
    position: absolute;
    left: 20%;
    bottom: -100%;
}
.overlay-content a {
    width: 204px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    margin: 10px auto;
    font-size: 13px;
    letter-spacing: 1px;
}
.overlay-content a:last-child {
	text-transform: Capitalize;
	font-weight: 400;
	text-align: center;
}

/*======= 5. Worker Section ========*/
.worker-section {
	overflow: hidden;
	padding: 60px 0;
}

.worker-item p {
	font-size: 12px;
	font-weight: 400;
}
.social-icon {
	margin-top: 20px;
}
.social-icon a {
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    font-size: 13px;
}
.social-icon a:hover {
	color: #FFFFFF;
	background: #e84545;
	border: 1px solid #e84545;
	transition: .5s;
}
/*======= 5. Clients Section ========*/
.client-content {
	background: #53354a;
	min-height: 355px;
}
.client-content p {
    color: #FFFFFF;
    font-family: 'Cardo', serif;
    font-weight: 400;
	width: 53%;
    font-size: 25px;
    padding-top: 67px;
    margin-left: 70px;
}
.client-content footer {
	color : #FFFFFF;
	text-transform: uppercase;
	margin-left: 70px;
}
.work {
	margin-bottom: 20px;
}
/*======= 6. Download Section ========*/
.download-section {
	overflow: hidden;
	padding: 60px 0;
}
.download-content p {
	color: #2d3033;
	font-size: 23px;
	font-weight: 300;
}
.download-content span{
	display: block;
	color: #2d3033;
	font-size: 13px;
	font-weight: 700;
}
.download-content a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #e84545;
	padding: 12px 50px;
	margin-top: 35px;
	border: 1px solid transparent;
}
.download-content a:hover {
	color: #e84545;
	background: #FFFFFF;
	border: 1px solid #e84545;
	transition: .4s;
}

/*======= 7. Footer-Top Section ======*/

.footertop-section {
	overflow: hidden;
	background: #3a3e64;
	padding: 50px 0;
}
.location address {
	color: #FFFFFF;
	font-size: 12px;
}

.social-share a {
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	padding: 5px 10px;
}
.social-share a:hover {
	color: #FFFFFF;
	background: #e84545;
	border: 2px solid #e84545;
	transition: .4s;
}
.about-activebox p {
	color: #FFFFFF;
	font-size: 12px;
}

/*====== 8. Footer Section ======== */
.footer-section {
	overflow:hidden;
	padding: 30px 0;
	background: #313454;
}
.footer p {
	width: 25%;
	margin: auto;
	color: #808080;
	font-size: 14px;
}
.footer i {
	color: #e84545;
}
.footer span {
	color: #FFFFFF;
	font-size: 
}



